@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --brandBeige: #e8d1af;
  --brandDarkBrown: #54330f;
  --brandLightText: #efe4d3;
  --brandMediumBrown: #a89678;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}